.col-md-3 {
  padding: 40px;
  margin: 60px;
}

a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 29px;
}

h3 {
  font-size: 23px;
}

.container {
  background-color: black;
  color: white;
}

#albumBtn {
  background-color: chartreuse;
  border-radius: 12px;

}
