#moodBtn {
  background-color: chartreuse;
  color: navy;
  font-family: Cinzel;
  font-size: 14pt;
  border-radius: 12px;
  font-weight: bold;
}

#formFormat {
  font-size: 10pt;
  color: white;
}

h4 {
  color: black;
  font-family: Cinzel;
  font-weight: bold;
  font-size: 20pt;
}

h3 {
  color: pink;
  font-family: 'Sawarabi Mincho', sans-serif;
}

hr {
  color:pink;
  width: 60%;
}

#genre-seeds {
  width: 20%;
  justify-content: center;
  align-content: center;
}
