.panel-heading {
  color: #b4d315;
  font-size: 50pt;
  height: 200px;
  background: url('/assets/waveform.jpeg');
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: 'Satisfy', cursive;
}
