<div id="grad1">


<p>
  userform works!
</p>


<select class="form-control" id="genre-seeds">
  <option>acoustic</option>
  <option>afrobeat</option>
  <option>alt-rock</option>
  <option>alternative</option>
  <option>ambient</option>
  <option>anime</option>
  <option>black-metal</option>
  <option>bluegrass</option>
  <option>blues</option>
  <option>bossanova</option>
  <option>brazil</option>
  <option>breakbeat</option>
  <option>british</option>
  <option>cantopop</option>
  <option>chicago-house</option>
  <option>children</option>
  <option>chill</option>
  <option>classical</option>
  <option>club</option>
  <option>comedy</option>
  <option>country</option>
  <option>dance</option>
  <option>dancehall</option>
  <option>death-metal</option>
  <option>deep-house</option>
  <option>detroit-techno</option>
  <option>disco</option>
  <option>disney</option>
  <option>drum-and-bass</option>
  <option>dub</option>
  <option>dubstep</option>
  <option>edm</option>
  <option>electro</option>
  <option>electronic</option>
  <option>emo</option>
  <option>folk</option>
  <option>forro</option>
  <option>french</option>
  <option>funk</option>
  <option>garage</option>
  <option>german</option>
  <option>gospel</option>
  <option>goth</option>
  <option>grindcore</option>
  <option>groove</option>
  <option>grunge</option>
  <option>guitar</option>
  <option>happy</option>
  <option>hard-rock</option>
  <option>hardcore</option>
  <option>hardstyle</option>
  <option>heavy-metal</option>
  <option>hip-hop</option>
  <option>holidays</option>
  <option>honky-tonk</option>
  <option>house</option>
  <option>idm</option>
  <option>indian</option>
  <option>indie</option>
  <option>indie-pop</option>
  <option>industrial</option>
  <option>iranian</option>
  <option>j-dance</option>
  <option>j-idol</option>
  <option>j-pop</option>
  <option>j-rock</option>
  <option>jazz</option>
  <option>k-pop</option>
  <option>kids</option>
  <option>latin</option>
  <option>latino</option>
  <option>malay</option>
  <option>mandopop</option>
  <option>metal</option>
  <option>metal-misc</option>
  <option>metalcore</option>
  <option>minimal-techno</option>
  <option>movies</option>
  <option>mpb</option>
  <option>new-age</option>
  <option>new-release</option>
  <option>opera</option>
  <option>pagode</option>
  <option>party</option>
  <option>philippines-opm</option>
  <option>piano</option>
  <option>pop</option>
  <option>pop-film</option>
  <option>post-dubstep</option>
  <option>power-pop</option>
  <option>progressive-house</option>
  <option>psych-rock</option>
  <option>punk</option>
  <option>punk-rock</option>
  <option>r-n-b</option>
  <option>rainy-day</option>
  <option>reggae</option>
  <option>reggaeton</option>
  <option>road-trip</option>
  <option>rock</option>
  <option>rock-n-roll</option>
  <option>rockabilly</option>
  <option>romance</option>
  <option>sad</option>
  <option>salsa</option>
  <option>samba</option>
  <option>sertanejo</option>
  <option>show-tunes</option>
  <option>singer-songwriter</option>
  <option>ska</option>
  <option>sleep</option>
  <option>songwriter</option>
  <option>soul</option>
  <option>soundtracks</option>
  <option>spanish</option>
  <option>study</option>
  <option>summer</option>
  <option>swedish</option>
  <option>synth-pop</option>
  <option>tango</option>
  <option>techno</option>
  <option>trance</option>
  <option>trip-hop</option>
  <option>turkish</option>
  <option>work-out</option>
  <option>world-music<option>
</select>

</div>
